@import url('https://fonts.googleapis.com/css?family=Lato|Lora|Raleway|Shadows+Into+Light+Two');
:root {
    --texto-post-color: black;
    --h2-color: #251a9c;
    --h3-color: midnightblue;
}

/*.content {
  margin-top:-50px;
}*/

.post-body img {
  box-shadow: 0 0 1em 0.3em #999999;
}

.cita {
    font-family: 'Shadows Into Light Two', cursive;
}

/* Fuente para el cuerpo del Post */
#main div[id^='post-body-'] {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    font-size: 1.2em;
    color: var(--texto-post-color);
}

/* Encabezados del cuerpo del Post */
#main div[id^='post-body-'] h2, #main div[id^='post-body-'] h3 {
  font-family: 'Lato';
  text-align: left;
}
#main div[id^='post-body-'] h2 {
  font-size: 1.4em;
  color: var(--h2-color);/*#4d469c*/
}
#main div[id^='post-body-'] h3 {
  /*text-transform: uppercase;*/
  color: var(--h3-color);
}
