:root {
  texto-post-color: #222;
}

body {
  background: #540000;
}

h3 {
  margin-bottom: .6rem;
}

.rayy-site {
  width: auto;
}

ul, ol {
  margin-left: 1.2em;
}

.widget .post-body li {
  margin-top: 0;
}

.popular post .item-title {
  padding-bottom: 0;
  font-weight: bold;
}

.popular post .item-snippet {
  font-size: 80%;
}

/* Centra y redondea las esquinas del logo*/
[name="Cabecera"] img {
  margin: auto;
  border-radius: 30px;
}
